.encabezados {
    display: inline-block; /* Hace que los encabezados estén en línea */
    font-size: 1.2em;
    margin-right: 50px; /* Leve separación entre encabezados */
    color: white
  }
  body {
    background-color: rgb(56, 97, 199);
  }

  .urbanismo-item {
    list-style-type: none;
    margin-bottom: 20px;
  }
  
  .urbanismo-item span {
    display: block;
    margin-bottom: 5px;
  }
  /* DropdownMenu.css */
.dropdown-container {
  position: relative;
}

/* Botón del menú desplegable */
.dropdown-button {
  background-color: #290fb9cc;
  color: #cccccc;
  border: 1px solid #cccccc;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: sticky;
  top: -60px;
  left: auto;
  right: -100px;
}

/* Icono del menú */
.menu-icon {
  margin-right: 5px;
}

/* Botón del menú */
.buttonMenuIndicadores {
  background-color: #091183;
  border: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
  min-width: 60px;
  z-index: 10;
  position: relative;
}

/* Hover del botón del menú */
.buttonMenu:hover {
  background-color: #1c0cf3; /* Verde más oscuro */
}
.filtros-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filtro-select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.conteos p {
  margin: 5px 0;
  font-weight: bold;
}

.filtros button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filtros button.activo {
  background-color: #007bff;
  color: white;
}

.mostrar-ocultar {
  margin: 10px 0;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lista-clientes {
  list-style-type: none;
  padding: 0;
}

.lista-clientes li {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
