/* DropdownMenu.css */
.dropdown-container {
  position: absolute;
}

/* Botón del menú desplegable */c
.dropdown-button {
   background-color: #b96a0fcc;
    color: #eb0c0c;
    border: 1px solid #ec1414;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    display: flex
;
    align-items: center;
    position: absolute;
    top: 3px;
    left: auto;
    right: 153px;
}

/* Icono del menú */
.menu-icon {
  margin-right: 10px;
}

/* Contenido del menú desplegable */
.dropdown-content {
       position: absolute;
    top: 32px;
    left: auto;
    right: -35px;
    background-color: #0a0a0ecc;
    border: 1px solid #cccccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
    list-style: none;
    width: 150px;
    display: none;
}

/* Enlaces del menú desplegable */
.dropdown-link {
  color: #cccccc;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.dropdown-link:hover {
  background-color: #4e74df;
  color: rgb(16, 20, 221);
}

/* Botón del menú */
.buttonMenu {
  background-color: #091183; /* Verde */
  border: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
  position: absolute;
  top: 5%;
  left: 300px;
  min-width: 60px;
  z-index: 1;
}

/* Hover del botón del menú */
.buttonMenu:hover {
  background-color: #1c0cf3; /* Verde más oscuro */
}

/* Media query para ocultar el menú en pantallas mayores a 450px */
@media screen and (min-width: 451px) {
  .dropdown-container {
    display: none;
  }
}

/* Media query para mostrar el botón del menú en pantallas menores a 450px */
@media screen and (max-width: 450px) {
  .dropdown-container {
    display: block;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown-container.open .dropdown-content {
    display: block; /* Mostrar el menú desplegable al hacer clic */
  }

.dropdown-button {
   background-color: #290fb9cc;
    color: #cccccc;
    border: 1px solid #cccccc;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    display: flex
;
    align-items: center;
    position: absolute;
    top: -60px;
    left: auto;
    right: -500px;
}



}
